.add-news-form {
  display: flex;
  flex-direction: column;
}

.add-news-form__label {
  margin-bottom: 10px;
  width: 100%;
}

.add-news-form__input,
.add-news-form__textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(6, 14, 138);
  border-radius: 5px;
  outline-color: rgb(170, 3, 128);
  color: rgb(6, 14, 138);
  background-color: rgb(216, 241, 247);
}

.add-news-form__textarea {
  min-height: 200px;
  resize: none;
}

.add-news-form__input::placeholder,
.add-news-form__textarea::placeholder {
  color: rgb(170, 3, 128);
}

.add-news-form__btn {
  margin-left: auto;
  margin-right: auto;
}
