.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.navigation__link--active{
color: rgb(170, 3, 128);
font-weight: 700;
}